<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Период времени -->
    <add key="timePeriod" value="500"/>
    <!-- Шаг интегрирования -->
    <add key="timeStep" value="0,1"/>
    <!-- Самолетные углы в долях Пи -->
    <add key="phi0" value="0,05"/>
    <add key="psi0" value="0,05"/>
    <add key="theta0" value="0,05"/>
    <!-- ... -->
  </appSettings>
</configuration>